.btn{
    font-family: "Inter", sans-serif;
    border: none;
    padding: 15px 60px;
    background-color: #4D5B9E;
    border-radius: 15px;
    line-height: 19px;
    color: #F5F7FB;
    cursor: pointer;
}

